# Logs
logs
*.log

# Node.js
npm-debug.log*
node_modules

# Prisma
backend/prisma/.env
backend/prisma/dev.db

# IDEs and editors
.vscode/

# Compiled output
build/
dist/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor backups and settings
*.DS_Store
